@using ProjectAllocationSystem.ViewModels.Admin
@model IndexVM

@{
    ViewData["Title"] = "Admin";
}


<div class="container">
    <div class="text-center">
        <div asp-validation-summary="All" class="text-danger"></div>
        <span>
            <a data-toggle="modal" data-target="#addUserModal" class="btn btn-primary">Add User</a>
            <a data-toggle="modal" data-target="#bulkAddUsersModal" class="btn btn-primary">Bulk Add Users</a>
            <a data-toggle="modal" data-target="#addPrefModal" class="btn btn-primary">Add New Preference</a>
        </span>
    </div>

    <br />

    <div class="text-center">
        <h5>Project Preferences:</h5>
        <ul>
            @for (int i = 0; i < Model.Preferences.Count; i++)
            {
                <li>
                    <form asp-action="DeletePreference" method="post">
                        <span class="mb-2">
                            @Model.Preferences[i]
                            <input hidden name="preference" value="@Model.Preferences[i]" />
                            <button type="submit" style="color: red" class="btn btn-link">Delete</button>
                        </span>
                    </form>
                </li>
            }
        </ul>
    </div>
</div>

<form enctype="multipart/form-data" method="post" asp-action="AddUser">
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">Add New User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Create a new user</p>
                    <div class="form-group">
                        <label class="form-label" for="firstName">First Name</label>
                        <input type="text" class="form-control" name="firstName" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="lastName">Name</label>
                        <input type="text" class="form-control" name="lastName" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="schoolId">School ID</label>
                        <input type="text" class="form-control" name="schoolId" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="role">Role</label>
                        <select class="form-control" name="role">
                            <option value="Admin">Admin</option>
                            <option value="Lecturer">Lecturer</option>
                            <option value="Student">Student</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="addUserSubmit" type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form enctype="multipart/form-data" method="post" asp-action="AddPreference">
    <div class="modal fade" id="addPrefModal" tabindex="-1" role="dialog" aria-labelledby="addPrefModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPrefModalLabel">Add Project Preference</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Add a Project Idea or Preference</p>
                    <div class="form-group">
                        <label class="form-label" for="firstName">Preference</label>
                        <input type="text" class="form-control" name="preference" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="addPrefSubmit" type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form enctype="multipart/form-data" method="post" asp-action="BulkAddUsers">
    <div class="modal fade" id="bulkAddUsersModal" tabindex="-1" role="dialog" aria-labelledby="bulkAddUsersLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bulkAddUsersLabel">Bulk Add Users</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Upload a CSV file</p>
                    <div class="form-group">                        
                        <input type="file" class="form-control-file" name="file" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="bulkAddUsersSubmit" type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
        </div>
    </div>
</form>

